body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;  /* Centre le texte dans le conteneur */
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    text-align: center;  /* Centre le texte dans les labels */
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.form-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;  /* Pour centrer le bouton */
    margin: 0 auto;
}

.form-group button:hover {
    background-color: #0056b3;
}

.message {
    color: red;
    font-weight: bold;
    text-align: center;  /* Centre le texte dans les messages */
}
